/node_modules
/public/hot
/storage/*.key
/vendor
!/vendor/laravel/framework/src/Illuminate/Auth/Passwords
!/vendor/laravel/ui/uth-backend
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
